<section class="container">
    <div class="hero-container" *ngFor="let film of films">
        <div class="main-container">
            <div class="poster-container">
                <a href="#"><img src="{{film.image}}" class="poster" /></a>
            </div>
            <div class="ticket-container">
                <div class="ticket__content">
                    <h4 class="ticket__movie-title">{{film.titre}}</h4>
                    <p class="ticket__movie-genre">{{film.genre}}</p>
                    <p class="ticket__movie-genre">{{film.annee}}</p>
                    <a class="ticket__add-btn">Ajouter &agrave; ma liste</a>
                </div>
            </div>
        </div>
    </div>
</section>