<section class="container col-8">
    <div class="row row-cols-1 row-cols-md-3 g-4" *ngIf="film">
        <div class="col" *ngFor="let film of films">
            <div class="card h-50">
                <img src="{{ film.image }}" class="card-img-top" alt="{{ film.image }}">
                <div class="card-body">
                    <h5 class="card-title">{{ film.titre }}</h5>
                    <p class="card-text">{{ film.genre }}</p>
                    <p class="card-text">{{ film.annee }}</p>
                </div>
                <div class="card-footer text-center">
                    <button class="btn btn-lg btn-outline-danger" (click)=" addFilms(film) ">Ajouter à ma liste</button>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!films">
        <p>Aucun films à vous présenter</p>
    </div>
</section>