<div class="container">
    <h3>&Agrave; propos</h3>
    <p>
        M2i, leader de la formation IT, Digital et Management en France depuis plus de 35 ans, accompagne chaque année
        la
        montée en compétences de ses apprenants sur plus de 80 000 cours.

        Connu pour proposer l'offre la plus qualitative et la plus exhaustive du marché, le groupe M2i est au service de
        ses plus de 4200 clients actifs, parmi lesquels les plus grands comptes (Covéa, ATOS, Sopra Steria…), les
        administrations (Ministère de l'Intérieur, DGFIP…) et de très nombreuses PME / ETI.
    </p>

    <h3>Le groupe M2i, un partenaire stratégique</h3>
    <p>
        Fort de son implantation et de la qualité de ses prestations, le groupe M2i bénéficie de la confiance des plus
        grands éditeurs tels que Microsoft©, Red Hat©, VMware© ou Adobe©, avec qui il noue des partenariats solides de
        longue date. En 2020, SAP© confie à M2i son projet People to Work, avec l'ambition de former à ses technologies
        plus de 2000 demandeurs d'emploi.
    </p>

    <h3>La recherche et l'innovation pédagogique</h3>
    <p>
        A l'écoute des transformations que vivent ses clients, M2i Formation s'investit dans la recherche et les
        pédagogies innovantes pour enrichir son offre et proposer des expériences toujours plus efficaces : AFEST,
        expériences immersives ou ateliers sont autant d'exclusivités proposées.

        L'ensemble des cursus M2i est également disponible en distanciel, avec la même qualité pédagogique que les cours
        équivalents en présentiel.
    </p>

    <h3>GEPP et employabilité : un défi majeur</h3>
    <p>
        Dans un contexte industriel et sociétal en pleine mutation, le groupe M2i accompagne ses clients dans leur
        transformation digitale et déploie des solutions d'upskilling et de reskilling sur mesure, levier pour eux de
        création de valeur dans le futur. Véritable expert en Gestion des Emplois et des Parcours Professionnels (GEPP),
        anciennement GPEC pour Gestion Prévisionnelle des Emplois et des Compétences, le groupe M2i s'inscrit dans un
        accompagnement 360° de ses clients pour déployer une gestion dynamique de leur capital humain.
    </p>
</div>